.firebase/*
docs/
QiscusCore.framework
Cocoapods/Pods/*
Cocoapods/build/*
Cocoapods/Podfile.lock
Cocoapods/Podfile.lockbup
fastlane/*
build/*
Pods/*
Podfile.lock
Podfile.lockbup
**/xcuserdata/**
**/UniversalLib.xcscheme
